{% extends "base.html" %}

{% block title %}Post Job{% endblock %}

{% block content %}

<h2 class="mb-4">Post a New Job</h2>

<form method="POST">

    <div class="mb-3">
        <input class="form-control"
               type="text"
               name="title"
               placeholder="Job Title"
               required>
    </div>

    <div class="mb-3">
        <textarea class="form-control"
                  name="description"
                  placeholder="Job Description"
                  required></textarea>
    </div>

    <div class="mb-3">
        <input class="form-control"
               type="text"
               name="city"
               placeholder="City"
               required>
    </div>

    <div class="mb-3">
    <input type="text"
           name="locality" 
           class="form-control" 
           placeholder="Locality"
           required>
    </div>

    <div class="mb-3">
    <input type="text" 
           name="landmark" 
           class="form-control"
    placeholder="Landmark">
    </div>

    <div class="mb-3">
        <input class="form-control"
               type="text"
               name="pincode"
               placeholder="Pincode"
               required>
    </div>

    <div class="mb-3">
        <input class="form-control"
               type="number"
               name="wage"
               placeholder="Daily Wage"
               required>
    </div>

    <div class="mb-3">
        <input class="form-control"
               type="text"
               name="work_type"
               placeholder="Work Type (Welding, Carpentry, etc.)"
               required>
    </div>

    <button class="btn btn-primary" type="submit">
        Post Job
    </button>

</form>

<a class="btn btn-secondary mt-3"
   href="{{ url_for('contractor.contractor_dashboard') }}">
    Back to Dashboard
</a>

{% endblock %}