{% extends "base.html" %}

{% block title %}Available Jobs{% endblock %}

{% block content %}
<form method="GET">

    <input type="text" name="city" placeholder="City">

    <input type="text" name="pincode" placeholder="Pincode">

    <input type="number" name="min_wage" placeholder="Minimum Wage">

    <select name="work_type">
        <option value="">Work Type</option>
        <option value="Construction">Construction</option>
        <option value="Electrical">Electrical</option>
        <option value="Plumbing">Plumbing</option>
    </select>

    <button type="submit">Filter</button>

</form>
<br>
<h2>Available Jobs</h2>

{% if jobs %}
    {% for job in jobs %}
        <div style="border:1px solid #ddd; padding:10px; margin-bottom:10px;">
            <h3>{{ job.title }}</h3>
            <p>{{ job.description }}</p>
            <p><strong>City:</strong> {{ job.city }}</p>
            <p><small>Posted by: {{ job.contractor.username }}</small></p>
             <a href="{{ url_for('auth.apply_job', job_id=job.id) }}"
   style="display:inline-block; padding:5px 10px; background:#28a745; color:white; text-decoration:none;">
    Apply
</a>
        </div>
    {% endfor %}
{% else %}
    <p>No jobs available.</p>
{% endif %}

<a href="{{ url_for('auth.labour_dashboard') }}">Back to Dashboard</a>
{% endblock %}