{% extends "base.html" %}

{% block content %}

<div class="overlay">

    <div class="title">
        LABOUR WORK MANAGEMENT SYSTEM
        <div class="subtitle">
            SMART CONSTRUCTION MANAGEMENT PLATFORM
        </div>
    </div>

    <div class="center-box">

        <div class="login-card">

            <h2>Login</h2>

            <form method="POST">

                <label>Email</label>
                <input type="email" name="email">

                <label>Password</label>
                <input type="password" name="password">

                <button type="submit">Login</button>

            </form>

            <div class="register-link">
                Don't have an account?
                <a href="{{ url_for('auth.register') }}">Register</a>
            </div>

        </div>

    </div>

</div>

{% endblock %}